<?xml version="1.0"?>
<configuration>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <appSettings>
        <!--<add key="boosrcroot" value="/home/ding/mycode/boo-0.9.6/"/>-->
        <add key="boosrcroot" value="/mycode/boo-0.9.6/"/>
        <add key="boolibdir" value="E:\\MyCode\\boo-0.9.6\\src\\booc\\bin\\Debug\\netcoreapp2.0"/>
    </appSettings>
</configuration>
